.two-columns__paragraph {
    margin: 0 0 30px 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: start;
}

.two-columns__paragraph:last-of-type {
    margin: 0 auto;
}