@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
  background-color:  #f2f2f2;
}

.header {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
  padding-left: 64px;
  box-sizing: border-box;
}

.logo {
  z-index: 2;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0;
  max-width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;

}

.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  transition: 1.3s;
  opacity: 0.33;
}

.header__main-illustration {
  object-fit: cover;
  margin: 0;
  padding: 0;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.rotation {
  animation: rotation 20s infinite linear;
}

.header__square-pic {
  margin: 0;
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: start;
}

.two-columns__paragraph:last-of-type {
  margin: 0 auto;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.techniques {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 0;
    width: 80%;
    margin: 0 auto;
}

.cards {
  list-style: none;
  width: 920px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 0;
  flex-wrap: wrap;
  max-width: 240px;
  box-sizing: border-box;
}

.cards__item:nth-of-type(3) {
  margin: 0;
}

.cards__image {
  margin: 60px 40px 43px 40px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  margin: 0 0 16px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0;
  width: 80%;
  margin: 0 auto;
}

.video__iframes {
  margin: 50px 0 0 0;
  max-height: 266px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin: 0 20px 0 0;
}

.video__iframe:last-of-type {
  margin: 0;
}

.oakley {
  padding-top: 160px;
  display: flex;
  justify-content: center;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  min-height: 890px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 100px;
  box-sizing: border-box;
  margin: 0;
}

.feynman__title {
  margin: 0 0 70px 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin: 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  transition: 1.3s;
  opacity: 0.33;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.khan {
  width: 80%;
  margin: 0 auto;
  padding: 105px 0 0 0;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0 0 50px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  margin: 0 0 36px;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0 0 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin: 0 48px 0 0;
  background-image: url(../images/images_sprint-2/khan-book.jpg);
  background-size: cover;
}

.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  transition: 1.3s;
  opacity: 0.33;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
  overflow: hidden;
}
.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  z-index: 1;
}

.feynman__subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 217px 0;
}

.resources__logo-zone {
  list-style: none;
  display: flex;
  width: 1100px;
  margin: 80px auto 0;
  padding: 0;
  justify-content: space-between;
}

.resources__link:hover {
  transition: 1.3s;
  opacity: 0.33;
}

.footer {
  padding: 60px 0 40px;
  display: flex;
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: white;
  justify-content: center;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  list-style: none;
  text-align: start;
  margin: 0 0 16px 0;
  padding: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  transition: 1.2s;
  opacity: 0.2;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}