div, h1{
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;

}

.logo {
  width: 183px;
  height: 32px;
  z-index: 2;

}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  align-self: center;
  margin-left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;

}

.header__subtitle {
  position: absolute;
  padding-top: 0;
  width: 388px;
  margin-left: 64px;
  margin-bottom: 30px;
  align-self: flex-end;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background: #2f80ed;
  right: 0;
  margin-top: 64px;
}

.header__title_remove-margin {
  margin: 0 auto;
}

.header__subtitle_remove-margin {
  margin: 0 auto;
}

.content {
  display: flex;
}

.description {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.two-columns {
  display: flex;
  width:80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph__remove-margin {
  margin: 0 auto;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
