.khan__buy-link {
    text-decoration: none;
    color: #2f80ed;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
  }

.khan__buy-link:hover {
    transition: 1.3s;
    opacity: 0.33;
  }